<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/booleanStore.css">
    <title>MAILING LIST</title>
</head>
<body>
    <h2 class="headTitle">PRE ORDER MAILING LIST</h2>
    <form action="/Boolean/Mailing" method="POST">
        <p>Enter e-mail address to join the Pre-Order Mailing List</p>
        <div class="container">
            <label for="email"><strong>Email</strong></label>
            <input type="text" placeholder="Enter Email" name="email" required/>
            <label for="confirmation">Click to confirm</label>
            <input type="checkbox" name="confirmation" id="confirmation"/>
            <br>
            <button type="submit">Join Boolean</button>
        </div>
        <nav>
            <a href="/Boolean">Back</a>
            <a href="/Boolean/Mailing/:eml">Update</a>
        </nav>
    </form>
</body>
</html>