<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/booleanStore.css">
    <title>Show Email</title>
</head>
<body>
    <img id="mainLogo" src="/Boolean_Logo.png">
    <div class="container">
            <h2 class="headTitle"></h2>
            Your Email: <%= allEditEmails.email %> is %>
            <% if  (allEditEmails.confirmation === true) { %>
                Is NOW Confirmed!!
                <% } else { %>
                Has NOT been Confirmed.
            <% } %>
        <nav id="links">
            <a href="/Boolean">Main Page</a>
            <a href="/Boolean/Mailing/:eml">Update-Email</a>
        </nav>
    </div>
</body>
</html>