<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/booleanStore.css">
    <title>Boolean Store</title>
</head>
<body>
    <h2 class="headTitle">BOOLEAN STORE</h2>
    <nav id="mainBtns">
        <a href="/Boolean/signIn">Mailing List</a>
        <br>
        <a href="/Boolean/Pre_Orders">Pre Orders</a>
    </nav>
</body>
</html>