<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/booleanStore.css">
    <title>Boolean Store</title>
</head>
<body>
    <div class="container">
        <img id="mainLogo" src="/Boolean_Logo.png">
            <div class="container2">
                <nav id="Links">
                    <a href="/Boolean/Mailing">Mailing List</a>
                    <a href="/Boolean/Pre_Orders">Pre Orders</a>
                </nav>
            </div>
    </div>
</body>
</html>