<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/booleanStore.css">
    <script defer src="/js/boolean_store.js"></script>
    <title>Boolean Store</title>
</head>
<body>
    <div class="container">
        <img id="mainLogo" src="/Boolean_Logo.png">
            <div class="maincontainer2">
                <nav id="mainLinks">
                    <a href="/Boolean/Mailing">Mailing-List</a>
                    <!-- MAILING LIST MODAL REGISTRATION TESTING 
                    <button class="btn">Registration</button>
                        <div class="modalBox">
                            <div class="modal active" id="modal">
                                <div class="modalBoxHeader">
                                    <div class="modalTitle">Email Registration</div>
                                        <button class="closeBtn">&times;</button>
                                </div>
                                <div class="modalBoxBody">
                                    <form action="/Boolean/Mailing" method="POST">
                                        <label class="modalEmail" for="email">Email:</label>
                                        <input type="text" placeholder="Enter Email" name="email" required/>
                                        <label class="modalConfirm" for="confirmation">Click to confirm</label>
                                        <input type="checkbox" name="confirmation" id="confirmation"/>
                                        <br>
                                        <p class="para">"Welcome to Boolean. We thank you for visiting and registering with us. When you join, you are placed on a personalized mailing list offering secured resrvation and news about future releases from our artisans. Thank you "<span class="name"> - rikk / CEO </span>
                                        </p>
                                        <button class="modalBtn" type="submit">Join Boolean</button>
                                        <div class="overlay""></div>
                                    </div>
                            </div>
                        </div>
                        -->
                    <a href="/Boolean/Pre_Orders">Pre-Orders</a>
                </nav>
            </div>
    </div>
    <img id="logo2" src="/3AM CLOCK.png">
    <footer class="footer">
        <a href="mailto: rikkxDZN@icloud.com"> Contact Us</a>
    </footer>
</body>
</html>